<!-- <form>
  <div class="mb-3">
    <label for="titolo" class="form-label">titolo</label>
    <input type="text" name="titolo" class="form-control" />
  </div>

  <div class="mb-3">
    <label for="immagine" class="form-label">Immagine</label>
    <input type="text" name="immagine" class="form-control" />
  </div>
  <button class="btn btn-outline-success" type="submit">aggiungi</button>
  <button class="btn btn-outline-danger" type="button">elimina</button>
  <button class="btn btn-outline-info" type="button">clear</button>
</form> -->
