<h2>Elenco</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Immagine</th>
      <th>Titolo</th>
      <th>Operazioni</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let p of products"
      (click)="setActive(p)"
      [ngClass]="{ active: p.id === active?.id }"
    >
      <td>
        <img src="{{ p.thumbnailUrl }}" alt="immagine" />
      </td>
      <td>
        {{ p.title }}
      </td>
      <td>
        <button
          routerLink="/photos/{{ p.id }}"
          class="btn btn-info"
          (click)="addToCart(p)"
        >
          Aggiungi al carrello
        </button>
        <button class="btn btn-info" routerLink="/photos/{{ p.id }}">
          Dettaglio "Film"
        </button>
        <!-- <app-carrello [add]="p.addcart"></app-carrello> -->
      </td>
    </tr>
  </tbody>
</table>
